addpath(genpath('/Users/<USER-NAME>/Documents/MATLAB/my_functions/'))
addpath(genpath('/Applications/spm8/'))

% so that can use matlab version of nanmean, nanstd, etc., remove fieldtrip
% src folder
rmpath('/Applications/spm8/external/fieldtrip/src/')

